<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" id="bootstrap-data">
</head>
<body>
<form th:action="@{/}">
    <div class="row">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Jmeno knihy" th:name="book_name"/>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Jmeno knihovny" th:name="library_name"/>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Žánr" th:name="book_genre"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Autor" th:name="author_name"/>
        </div>
        <div class="col-sm-1">
            <input type="checkbox" class="form-check-input" id="reserved_checkbox" th:checked="reserved"/>
            <label class="form-check-label" for="reserved_checkbox">
                rezervovano
            </label>
        </div>
        <div class="col-sm-3">
            <input type="date" class="form-control" th:value="release_date"/>
        </div>
        <div class="col-sm-1">
            <input type="checkbox" class="form-check-input" id="before_checkbox" th:checked="before"/>
            <label class="form-check-label" for="before_checkbox">
                před?
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="ISBN" th:name="isbn"/>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="vydavatel" th:name="publisher"/>
        </div>
        <div class="col-sm-2">
            <input type="number"th:value="genre" id="rating_input" min="1" max="10"/>
            <label class="form-check-label" for="rating_input">
                Minimalni rating
            </label>
        </div>

    </div>
    <div class="col">
        <input class="form-control" type="submit"/>
    </div>

</form>

<table id="bookListing" class="table table-hover">
    <thead>
    <tr>
        <th>Jmeno</th>
        <th>Datum vydani</th>
        <th>Zanr</th>
        <th>Autori</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.name}">Onions</td>
            <td th:text="${book.release}">2.41</td>
            <td th:text="${book.genre}">yes</td>
            <td th:text="${book.authors}">Henrich</td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>Jmeno</th>
        <th>Datum vydani</th>
        <th>Zanr</th>
        <th>Autori</th>
    </tr>
    </tfoot>
</table>
<!-- <p th:text="${bookName}"></p> -->
</body>
<script>
    $(document).ready(function() {
        $('#bookListing').DataTable({searching: false});
    });
</script>
</html>
