<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IIS knihovna</title>
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" id="bootstrap-data">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li sec:authorize="isAnonymous()">
                        <a href="/login" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-unlock"></i> <span class="ms-1 d-none d-sm-inline">Přihlášní</span></a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/register" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-gear-fill"></i> <span class="ms-1 d-none d-sm-inline">Registrace</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Správa knih</span>
                        </a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <a th:href="@{/reservations(library_id=${library.id})}" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-building"></i> <span class="ms-1 d-none d-sm-inline">Správa knihoven</span></a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a href="/libraries" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-building"></i> <span class="ms-1 d-none d-sm-inline">Správa knihoven</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <a href="/book" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">Přidání knih</span></a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a href="/users" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Správa uživatelů</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'READER', 'LIBRARIAN')">
                        <a href="/votes" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Hlasováni</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <a href="/reservations/createLoan" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Výpůjčka</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4" sec:authorize="isAuthenticated()">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-person-circle"></i>
                        <span class="d-none d-sm-inline mx-1" sec:authentication="name"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

                        <li sec:authorize="hasRole('ADMIN')"><span class="dropdown-item">Administrátor</span> </li>
                        <li sec:authorize="hasRole('LIBRARIAN')"><span class="dropdown-item">Knihovník</span> </li>
                        <li sec:authorize="hasRole('READER')"><span class="dropdown-item">Čtenář</span> </li>

                        <li sec:authorize="hasRole('READER')"><a class="dropdown-item" href="#">Moje rezervace</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Odhlášení</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container mx-auto col-auto col-lg-4 col-md-6 col-sm-7 row align-items-center">
            <div class="container bg-light rounded p-3">
                <h2 class="fw-bold mb-4 text-uppercase text-center">Knihovna</h2>
                <form th:action="@{/library}" method="POST" th:object="${library}" class="row g-2">
                        <input class="form-control" type="hidden" th:value="${library.id}" placeholder="id" id="libid" th:field="*{id}"/>
                        <div class="col-6">
                            <label class="form-check-label" for="name">Název</label>
                            <input type="text" class="form-control" id="name" th:name="name"
                                    th:value="${library.name}" th:field="*{name}"/>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="tag">Tag</label>
                            <input type="text" class="form-control" id="tag" th:name="tag"
                                   th:value="${library.tag}" th:field="*{tag}"/>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="city">Město</label>
                            <input type="text" class="form-control" id="city" th:name="city"
                                   th:value="${library.city}" th:field="*{city}"/>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="street">Ulice</label>
                            <input type="text" class="form-control" id="street" th:name="street"
                                   th:value="${library.street}" th:field="*{street}"/>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="street_number">Číslo popisné</label>
                            <input type="text" class="form-control" id="street_number" th:name="street_number"
                                   th:value="${library.streetNumber}" th:field="*{streetNumber}"/>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="from_time">Od</label>
                            <input type="time" class="form-control" id="from_time" th:name="from_time"
                                   th:value="${library.openFrom}" th:field="*{openFrom}"/>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="to_time">Do</label>
                            <input type="time" class="form-control" id="to_time" th:name="to_time"
                                   th:value="${library.openTo}" th:field="*{openTo}"/>
                        </div>
                        <div class="col-12">
                            <label class="form-check-label" for="description">Popis</label>
                            <input type="textarea" class="form-control" id="description" th:name="description"
                                   th:value="${library.description}" th:field="*{description}"/>
                        </div>
                        <div class="col-6 my-3">
                            <input class="form-control btn btn-secondary" type="submit" value="Odeslat"/>
                        </div>
                </form>
                <div class="row g-2" th:if="${library.id != null}">
                    <div class="col-6">
                        <a th:href="@{/(library_name=${library.name})}">
                            <button class="form-control btn btn-primary">
                                Spravovat knižní tituly
                            </button>
                        </a>
                    </div>
                    <div class="col-6">
                        <a th:href="@{/reservations(library_id=${library.id})}">
                            <button class="form-control btn btn-info">
                                Spravovat rezervace
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        $('#bookListing').DataTable({searching: false});
    });
</script>
</html>
