<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IIS knihovna</title>
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" id="bootstrap-data">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Knihy</span></a>
                    </li>
                    <li sec:authorize="hasRole('LIBRARIAN')">
                        <a th:href="@{/library(library_id=${librarian_lib})}" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-building"></i> <span class="ms-1 d-none d-sm-inline">Správa knihovny</span></a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a href=/library class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-building"></i> <span class="ms-1 d-none d-sm-inline">Přidat knihovnu</span></a>
                    </li>
                    <li class="mb-3"></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN', 'DISTRIBUTOR')">
                        <a href="/book" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">Přidat knihu</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'DISTRIBUTOR')">
                        <a href="/title" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">Přidat titul</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN', 'DISTRIBUTOR')">
                        <a href="/titles" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-cart"></i> <span class="ms-1 d-none d-sm-inline">Dostupné tituly</span></a>
                    </li>
                    <li class="mb-3"></li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a href="/users" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Správa uživatelů</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'DISTRIBUTOR')">
                        <a href="/authors" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Správa autorů</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'DISTRIBUTOR')">
                        <a href="/author" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-person-plus"></i> <span class="ms-1 d-none d-sm-inline">Přidat autora</span></a>
                    </li>
                    <li class="mb-3"></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'READER', 'LIBRARIAN')">
                        <a href="/votes" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-hand-thumbs-up"></i> <span class="ms-1 d-none d-sm-inline">Hlasováni</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('LIBRARIAN')">
                        <a href="/reservations/createLoan" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-journal-check"></i> <span class="ms-1 d-none d-sm-inline">Výpůjčky</span></a>
                    </li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN', 'DISTRIBUTOR')">
                        <a href="/orders" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-list-check"></i> <span class="ms-1 d-none d-sm-inline">Objednávky</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4" sec:authorize="isAuthenticated()">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-person-circle"></i>
                        <span class="d-none d-sm-inline mx-1" sec:authentication="name"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

                        <li sec:authorize="hasRole('ADMIN')"><span class="dropdown-item">Administrátor</span> </li>
                        <li sec:authorize="hasRole('LIBRARIAN')"><span class="dropdown-item">Knihovník</span> </li>
                        <li sec:authorize="hasRole('READER')"><span class="dropdown-item">Čtenář</span> </li>
                        <li sec:authorize="hasRole('DISTRIBUTOR')"><span class="dropdown-item">Distributor</span> </li>

                        <li sec:authorize="hasRole('READER')"><a class="dropdown-item" href="/reservationSummary">Moje rezervace</a></li>
                        <li><a href="/userUpdate" class="dropdown-item">Profil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Odhlášení</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-auto col-md-10 ">
            <h2 class="fw-bold mb-4 text-uppercase text-center">Knihovny</h2>
            <div class="bg-light rounded mb-3 mt-3">
                <form th:action="@{/libraries}" class="row g-3">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <label class="form-check-label" for="library_name">Název knihovny</label>
                            <input type="text" class="form-control" id="library_name" th:name="library_name" th:value="${lib_name}" maxlength="50"/>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label class="form-check-label" for="library_tag">Tag</label>
                            <input type="text" class="form-control" id="library_tag" th:name="library_tag" th:value="${lib_tag}" maxlength="5"/>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label class="form-check-label" for="library_city">Město</label>
                            <input type="text" class="form-control" id="library_city" th:name="library_city" th:value="${lib_city}" maxlength="50"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control btn btn-secondary" type="submit" value="Filtrovat"/>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table id="libraryListing" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Název</th>
                        <th>Tag</th>
                        <th>Město</th>
                        <th>Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="library : ${libraries}">
                        <td th:text="${library.name}">Onions</td>
                        <td th:text="${library.tag}">2.41</td>
                        <td th:text="${library.city}">yes</td>
                        <td>
                            <a th:href="@{/library(library_id=${library.id})}">
                                <button class="btn btn-info">
                                    Spravovat
                                </button>
                            </a>
                            <a th:href="@{/deleteLibrary(library_id=${library.id})}">
                                <button class="btn btn-danger">
                                    Smazat knihovnu
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <p th:text="${bookName}"></p> -->
</body>
<script>
    $(document).ready(function() {
        $('#libraryListing').DataTable({searching: false});
    });
</script>
</html>
