<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" id="bootstrap-data">
</head>
<body>
<form th:action="@{/register}" method="POST">
    <div class="row">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Username" th:name="username" />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Password" th:name="password" />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Password again" th:name="password2"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Name" th:name="name" />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Surname" th:name="surname" />
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" th:name="birthdate"/>
        </div>
    </div>
    <div class="col">
        <input class="form-control" type="submit"/>
    </div>
</form>
<p th:text="${message}"></p>
</body>
<script>
</script>
</html>
