<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" id="bootstrap-data">
</head>
<body>
<table id="libraryListing" class="table table-hover">
    <thead>
    <tr>
        <th>Jmeno knihy</th>
        <th>ISBN</th>
        <th>Od</th>
        <th>Do</th>
        <th>Jmeno</th>
        <th>Prijimeni</th>
        <th>Datum naroznei</th>
        <th>Stav</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.bookName}">Onions</td>
        <td th:text="${reservation.isbn}">Onions</td>
        <td th:text="${{reservation.dateFrom}}">Onions</td>
        <td th:text="${{reservation.dateTo}}">Onions</td>
        <td th:text="${reservation.name}">2.41</td>
        <td th:text="${reservation.surname}">yes</td>
        <td th:text="${reservation.birthDate}">yes</td>
        <td th:switch="${reservation.borrowed}">
            <span th:case="false">Rezervovano</span>
            <span th:case="*">Vypujceno</span>
        </td>

        <td th:switch="${reservation.borrowed}">
            <!-- Add arguments to href - reservation id and library id -->
            <a th:case="false" th:href="@{/reservations(reservation_id=${reservation.id}, library_id=${library}, action=1)}">
                <button class="btn btn-primary">Vypujcit</button>
            </a>
            <a th:case="true" th:href="@{/reservations(reservation_id=${reservation.id}, library_id=${library}, action=2)}">
                <button class="btn btn-warning">Vratit knihu</button>
            </a>
            <button th:case="*" class="btn btn-danger">Nevraceno</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>Id</th>
        <th>Jmeno</th>
        <th>Tag</th>
        <th>Mesto</th>
        <th>Akce</th>
    </tr>
    </tfoot>
</table>
<!-- <p th:text="${bookName}"></p> -->
</body>
<script>
    $(document).ready(function() {
        $('#libraryListing').DataTable({searching: false});
    });
</script>
</html>
